{% extends 'front-base.html' %}
{% load static %}
{% block mainblock %}



		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="breadcrumb_area">
			<div class="vigo_container_two">
				<div class="page_header">
					<h1>About <span>Us</span></h1>
				</div>
				<!-- /.page-header -->
			</div>
			<!-- /.vigo_container_two -->
		</section>
		<!-- /.breadcrumb_area -->

		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="about_area">
			<div class="vigo_container_two">
				<div class="row">
					<div class="col-md-6">
						<div class="about_left_side">
							<img src="{% static 'media/images/home6/about-left.jpg' %}" alt="ff">
						</div>
					</div>
					<div class="col-md-6">
						<div class="about_right_side">
							<h3>Vaxin Wonderland</h3>
							<p>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
							</p>
							<div class="about_right_img">
								<img src="{% static 'media/images/home6/about-right.jpg' %}" alt="">
								<div class="section_title_four">
									<h2>OUR FACTORY</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="about_area_bottom">
			<div class="vigo_container_two">
				<div class="row">
					<div class="col-md-6">
						<div class="about_area_bottom_left">
							<p>Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
							</p>
							<div class="about_area_bottom_video">
								<a href="https://www.youtube.com/watch?v=b-TGpa0SDXw" class="pop-up" data-effect="mfp-move-horizontal">
							<i class="material-icons play">
								play_arrow
							</i>
							<h4>WATCH VIDEO</h4>
						</a>
							</div>
							<div class="section_title_four">
								<h2>THE PROCESS</h2>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about_bottom_right_side">
							<img src="{% static 'media/images/home6/about-bottom.jpg' %}" alt="ff">
						</div>
					</div>
				</div>
			</div>
		</section>



		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="call_to_action_green">
			<div class="vigo_container_two">
				<div class="call_to_action_area_two">
					<div class="row">
						<div class="col-xl-10 offset-xl-2">
							<div class="call_to_action_hello">
								<div class="call_to_action_left_two">
									<h2>LIVE HEALTHY?</h2>
									<p>Try out our suppliment & enjoy the healthiest life. Discounts end soon!</p>
								</div>
								<div class="call_to_action_right_two">
									<a href="#" class="btn_four">Purchase</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endblock %}


		