{% extends 'front-base.html' %}
{% load static %}
{% block mainblock %}

		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="breadcrumb_area">
			<div class="vigo_container_two">
				<div class="page_header">
					<h1>Collection</h1>
				</div>
				<!-- /.page-header -->
			</div>
			<!-- /.vigo_container_two -->
		</section>
		<!-- /.breadcrumb_area -->

		<!--=========================-->
		<!--=        Product         =-->
		<!--=========================-->
		<section class="product_all_collection woocommerce">
			<div class="vigo_container_two">
				<div class="column-3">
					<div class="products">
						<div class="product">
							<div class="product_single_collection">
								<a href="product-detail.html" class="woocommerce-LoopProduct-link">
									<div class="product-thumb">
										<img src="{% static 'media/images/home6/collection-one.png' %}" alt="!!">
									</div>
									<h3 class="woocommerce-loop-product__title">
										<span>WOMEN<br>
								DOSES
								<span class="after">VIEW ITEMS <br>OF THIS COLLECTION <i class="fas fa-arrow-circle-right"></i></span>
										</span>
									</h3>
								</a>
							</div>
						</div>
						<div class="product">
							<div class="product_single_collection">
								<a href="product-detail.html" class="woocommerce-LoopProduct-link">
									<div class="product-thumb">
										<img src="{% static 'media/images/home6/collection-two.png' %}" alt="!!">
									</div>
									<h3 class="woocommerce-loop-product__title">
										<span>STRONG<br>
								DOSES
								<span class="after">VIEW ITEMS <br>OF THIS COLLECTION<i class="fas fa-arrow-circle-right"></i></span>
										</span>
									</h3>
								</a>
							</div>
						</div>
						<div class="product">
							<div class="product_single_collection">
								<a href="product-detail.html" class="woocommerce-LoopProduct-link">
									<div class="product-thumb">
										<img src="{% static 'media/images/home6/collection-one.png' %}" alt="!!">
									</div>
									<h3 class="woocommerce-loop-product__title">
										<span>WOMEN<br>
								DOSES
									<span class="after">VIEW ITEMS <br>OF THIS COLLECTION<i class="fas fa-arrow-circle-right"></i></span>
										</span>
									</h3>
								</a>
							</div>
						</div>
						<div class="product">
							<div class="product_single_collection">
								<a href="product-detail.html" class="woocommerce-LoopProduct-link">
									<div class="product-thumb">
										<img src="{% static 'media/images/home6/collection-three.png' %}" alt="!!">
									</div>
									<h3 class="woocommerce-loop-product__title">
										<span>REGULAR<br>
								DOSES
								<span class="after">VIEW ITEMS <br>OF THIS COLLECTION<i class="fas fa-arrow-circle-right"></i></span>
										</span>
									</h3>
								</a>
							</div>
						</div>
						<div class="product">
							<div class="product_single_collection">
								<a href="product-detail.html" class="woocommerce-LoopProduct-link">
									<div class="product-thumb">
										<img src="{% static 'media/images/home6/collection-four.png' %}" alt="!!">
									</div>
									<h3 class="woocommerce-loop-product__title">
										<span>STRONG<br>
								DOSES
									<span class="after">VIEW ITEMS <br>OF THIS COLLECTION<i class="fas fa-arrow-circle-right"></i></span>
										</span>
									</h3>
								</a>
							</div>
						</div>
						<div class="product">
							<div class="product_single_collection">
								<a href="product-detail.html" class="woocommerce-LoopProduct-link">
									<div class="product-thumb">
										<img src="{% static 'media/images/home6/collection-three.png' %}" alt="!!">
									</div>
									<h3 class="woocommerce-loop-product__title">
										<span>REGULAR<br>
								DOSES
								<span class="after">VIEW ITEMS <br>OF THIS COLLECTION<i class="fas fa-arrow-circle-right"></i></span>
										</span>
									</h3>
								</a>
							</div>
						</div>
					</div>

					<nav class="blog_list_pagination">
						<ul class="blog_list_nav_links">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">6</a></li>
							<li><a href="#">
						<span>.</span>
						<span>.</span>
						<span>.</span>
						<span>.</span>
					</a></li>
							<li><a href="#">9</a></li>
						</ul>
						<ul class="blog_list_nav_links two">
							<li><a href="#" class="prev"><i class="fas fa-angle-double-left"></i> prev</a></li>
							<li><a href="#" class="next">next <i class="fas fa-angle-double-right"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
{% endblock %}
		