{% extends 'front-base.html' %}
{% load static %}
{% block mainblock %}

		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="breadcrumb_area">
			<div class="vigo_container_two">
				<div class="page_header">
					<h1>Contact</h1>
				</div>
				<!-- /.page-header -->
			</div>
			<!-- /.vigo_container_two -->
		</section>
		<!-- /.breadcrumb_area -->

		<!--=========================-->
		<!--=        Map Two         =-->
		<!--=========================-->
		<article class="map_two_area">
			<section class="map_two_area_top">
				<div class="vigo_container_two">
					<div class="row">
						<div class="col-md-6">
							<div class="map" data-lat="40.730260" data-lng="-74.040315" data-mrkr="https://themeim.com/"></div>
						</div>
						<div class="col-md-6">
							<div class="contact_details">
								<div class="section_title_four">
									<h2>LOCATION</h2>
								</div>
								<div class="contact_address">
									<h3>Headquarter</h3>
									<a href="#">
								<i class="fas fa-map-marker-alt"></i>
								<span>1412  Simpson Avenue, PA<br>
								Pennsylvania, York</span>
							</a>
									<a href="#">
								<i class="fas fa-phone"></i>
								<span>717-846-8657 <br>717-546-8849</span>
							</a>
								</div>
								<div class="contact_address_img">
									<img src="{% static 'media/images/home6/contact-right.jpg' %}" alt="#">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="map_two_area_bottom">
				<div class="vigo_container_two">
					<div class="row">
						<div class="col-xl-9">
							<div class="map_two_area_bottom_form">
								<div class="section_title_four">
									<h2>WRITE TO US</h2>
								</div>
								<form action="#">
									<div class="map_two_area_all_input">
										<div class="map_two_area_input">
											<label><i class="fas fa-user"></i></label>
											<input type="text" placeholder="John Doe">
										</div>
										<div class="map_two_area_input">
											<label><i class="fas fa-at"></i></label>
											<input type="text" placeholder="type your name here *">
										</div>
										<div class="map_two_area_input">
											<label><i class="fas fa-globe"></i></label>
											<input type="text" placeholder="type your name here">
										</div>
									</div>
									<div class="map_two_area_textarea">
										<textarea placeholder="type your message here"></textarea>
									</div>
									<div class="map_two_area_submit">
										<input type="submit" value="send">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</article>

		<!--==========================-->
		<!--=  Call to action green  =-->
		<!--==========================-->
		<section class="call_to_action_green">
			<div class="vigo_container_two">
				<div class="call_to_action_area_two">
					<div class="row">
						<div class="col-xl-10 offset-xl-2">
							<div class="call_to_action_hello">
								<div class="call_to_action_left_two">
									<h2>LIVE HEALTHY?</h2>
									<p>Try out our suppliment & enjoy the healthiest life. Discounts end soon!</p>
								</div>
								<div class="call_to_action_right_two">
									<a href="#" class="btn_four">Purchase</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
	