
{% extends 'front-base.html' %}
{% load static %}
{% block mainblock %}
		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="breadcrumb_area">
			<div class="vigo_container_two">
				<div class="page_header">
					<h1>FAQ</h1>
				</div>
				<!-- /.page-header -->
			</div>
			<!-- /.vigo_container_two -->
		</section>
		<!-- /.breadcrumb_area -->

		<!--==========================-->
		<!--=       Faq Custom       =-->
		<!--==========================-->
		<section class="faq_custom_area">
			<div class="vigo_container_two">
				<div class="section_title_four">
					<h2>FREQUENTLY ASKED</h2>
				</div>
				<div class="faq_custom_all_post">
					<div class="faq_custom_single_post">
						<div class="faq_custom_single_post_content">
							<article class="faq_custom_single_post_container show-more">
								<h4>While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever?
								</h4>
								<p>
									Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit. Do eiusmod tempor incid dunt ut labore
									et dolore magna enim ad minim veniam, quis nostrud exercitation ullam . . . laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
								</p>
								<div class="faq_custom_single_post_more_text">
									<p>
										Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit. Do eiusmod tempor incid dunt ut labore
										et dolore magna enim ad minim veniam, quis nostrud exercitation.
									</p>
								</div>
								<a href="#" class="faq_custom_single_post_link"></a>
							</article>
						</div>
						<div class="faq_custom_single_post_img">
							<img src="{% static 'media/images/home6/faq-side-img.jpg' %}" alt="!!">
						</div>
					</div>
					<div class="faq_custom_single_post">
						<div class="faq_custom_single_post_content">
							<article class="faq_custom_single_post_container">
								<h4>In a professional context it often happens that private or corporate clients corder a publication to be made?</h4>
								<p>
									Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit. Do eiusmod tempor incid dunt ut labore
									et dolore magna enim ad minim veniam, quis nostrud exercitation ullam . . .
								</p>
								<div class="faq_custom_single_post_more_text">
									<p>
										Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit. Do eiusmod tempor incid dunt ut labore
										et dolore magna enim ad minim veniam, quis nostrud exercitation.
									</p>
								</div>
								<a href="#" class="faq_custom_single_post_link"></a>
							</article>
						</div>
						<div class="faq_custom_single_post_img">
							<img src="{% static 'media/images/home6/faq-side-img.jpg' %}" alt="!!">
						</div>
					</div>
					<div class="faq_custom_single_post">
						<div class="faq_custom_single_post_content">
							<article class="faq_custom_single_post_container">
								<h4>While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever?
								</h4>
								<p>
									Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit. Do eiusmod tempor incid dunt ut labore
									et dolore magna enim ad minim veniam, quis nostrud exercitation ullam . . .
								</p>
								<div class="faq_custom_single_post_more_text">
									<p>
										Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit. Do eiusmod tempor incid dunt ut labore
										et dolore magna enim ad minim veniam, quis nostrud exercitation.
									</p>
								</div>
								<a href="#" class="faq_custom_single_post_link"></a>
							</article>
						</div>
						<div class="faq_custom_single_post_img">
							<img src="{% static 'media/images/home6/faq-side-img.jpg' %}" alt="!!">
						</div>
					</div>
					<div class="faq_custom_single_post">
						<div class="faq_custom_single_post_content">
							<article class="faq_custom_single_post_container">
								<h4>While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever?
								</h4>
								<p>
									Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit do eiusmod tempor.
								</p>
								<a href="#" class="faq_custom_single_post_link no-more"></a>
							</article>
						</div>
						<div class="faq_custom_single_post_img">
							<img src="{% static 'media/images/home6/faq-side-img.jpg' %}" alt="!!">
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="call_to_action_green">
			<div class="vigo_container_two">
				<div class="call_to_action_area_two">
					<div class="row">
						<div class="col-xl-10 offset-xl-2">
							<div class="call_to_action_hello">
								<div class="call_to_action_left_two">
									<h2>LIVE HEALTHY?</h2>
									<p>Try out our suppliment & enjoy the healthiest life. Discounts end soon!</p>
								</div>
								<div class="call_to_action_right_two">
									<a href="#" class="btn_four">Purchase</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
	