{% extends 'front-base.html' %}
{% load static %}
{% block mainblock %}

		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="breadcrumb_area">
			<div class="vigo_container_two">
				<div class="page_header">
					<h1>Features</h1>
				</div>
				<!-- /.page-header -->
			</div>
			<!-- /.vigo_container_two -->
		</section>
		<!-- /.breadcrumb_area -->

		<!--=========================-->
		<!--=        Breadcrumb         =-->
		<!--=========================-->
		<section class="features_area_home6 section_padding">
			<div class="vigo_container_two">
				<div class="row">
					<div class="col-xl-12">
						<div class="section_title_four text-center">
							<h2>PRODUCT BENEFITS</h2>
						</div>
						<div class="features_area_banner">
							<img src="{% static 'media/images/home6/feature-banner.jpg' %}" alt="y">
						</div>
					</div>
				</div>
				<div class="grid features_area_home6_all">
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="before" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-two.png' %}" alt="">
						</div>
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fab fa-envira"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>The Health Benefits of Body Suppliments</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fab fa-envira"></i>
							</div>
						</div>
						<div class="after" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-one.png' %}" alt="">
						</div>
					</div>
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fas fa-suitcase"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>Strong Antioxidant That Reduce Diseases</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fas fa-suitcase"></i>
							</div>
						</div>
					</div>
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="before" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-two.png' %}" alt="">
						</div>
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fab fa-gripfire"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>May Help Battle High Blood Pressure</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fab fa-gripfire"></i>
							</div>
						</div>
						<div class="after" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-one.png' %}" alt="">
						</div>
					</div>
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fas fa-heart"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>Fights Heart Disease Risk Factors</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fas fa-heart"></i>
							</div>
						</div>
					</div>
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="before" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-two.png' %}" alt="">
						</div>
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fas fa-sign-language"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>Could Reduce Blood Uric Acid Levels</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fas fa-sign-language"></i>
							</div>
						</div>
						<div class="after" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-one.png' %}" alt="">
						</div>
					</div>
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fas fa-gavel"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>Helps Prevent Iron Deficiencies</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fas fa-gavel"></i>
							</div>
						</div>
					</div>
					<div class="grid-item single_feature_home6" data-aos="fade-up">
						<div class="before" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-two.png' %}" alt="">
						</div>
						<div class="single_feature_home6_content">
							<div class="single_feature_home6_icon">
								<i class="fas fa-star"></i>
							</div>
							<div class="single_feature_home6_desc">
								<h3>Boosts Immunity By Helping White Blood</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							</div>
							<div class="single_feature_home6_bottom_icon">
								<i class="fas fa-star"></i>
							</div>
						</div>
						<div class="after" data-aos="fade-up">
							<img src="{% static 'media/images/home6/feature-bg-one.png' %}" alt="">
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</section>

		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="call_to_action_green not-top-padding">
			<div class="vigo_container_two">
				<div class="call_to_action_area_two">
					<div class="row">
						<div class="col-xl-10 offset-xl-2">
							<div class="call_to_action_hello">
								<div class="call_to_action_left_two">
									<h2>LIVE HEALTHY?</h2>
									<p>Try out our suppliment & enjoy the healthiest life. Discounts end soon!</p>
								</div>
								<div class="call_to_action_right_two">
									<a href="#" class="btn_four">Purchase</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
		