<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% extends 'front-base.html' %}
{% load static %}

{% block mainblock %}


		
		<!--==========================-->
		<!--=        Banner         =-->
		<!--==========================-->
		<section class="banner_static">
			<div class="vigo_container_one">
				<div class="banner_static_flex">
					<div class="banner_static_left">
						<h1>
							ENLIVEN BODY
							<span>SUPPLIMENT</span>
						</h1>
						<div class="banner_static_wonder">
							<p>
								<i class="material-icons">
						done_all
						</i> FEEL LIGHTER
							</p>
							<p>
								<i class="material-icons">
						done_all
						</i> FEEL STRONGER
							</p>
						</div>
						<div class="banner_static_download">
							<p>
								Get our expert diet chart for free
							</p>
							<a href="#" class="btn_download">
						download
						<i class="material-icons">
						get_app
						</i>
					</a>
						</div>
					</div>
					<div class="banner_static_right">
						<div class="banner_static_img">
							<img src="{% static 'media/images/home6/banner-guy.png' %}" alt="">
						</div>
						<div class="banner_static_img">
							<img src="{% static 'media/images/home6/banner-arrow.png' %}" alt="">
						</div>
						<div class="banner_static_img">
							<img src="{% static 'media/images/home6/banner-circle.png' %}" alt="">
						</div>
						<div class="banner_static_img">
							<img src="{% static 'media/images/home6/banner-bottle.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="modal" id="loading-subscribe1">
			<div class="modal-dialog">
				<div class="loading-subscribe loading-subscribe-white">
					<div class="loading-subscribe-inner">
						<div class="loading-subscribe-img">
							<img src="{% static 'media/images/popup/Light.jpg' %}" alt="">
						</div>
						<div class="loading-subscribe-detail">
							<div class="loading-subscribe-top">
								<h1>Want <span>X Factor</span><br> Within ?</h1>
								<p>Subscribe us and get promotional discounts upto massive <span>90% OFF!</span> Type your email below now!</p>
							</div>
							<form action="#">
								<p class="loading-subscribe-input">
									<input type="text" placeholder="Click & type your email here">
								</p>
								<p class="loading-subscribe-submit">
									<button>Subscribe
								<i class="material-icons">
								keyboard_backspace
								</i>
							</button>
								</p>
							</form>
						</div>
					</div>
					<div class="remove">
						<button type="button" data-dismiss="modal">
					<i class="material-icons">
						clear
					</i>
				</button>
					</div>
				</div>
			</div>
		</section>

		<section class="megamenu-cookies">
			<div class="remove">
				<i class="material-icons">
			clear
		</i>
			</div>
			<p>This Website uses cookies to ensure you get the best experience in our website. We also use analytics software to track data of visitors. See more info <a href="#">here</a></p>
			<a class="agree" href="#">I agree</a>
		</section>

		<!--==========================-->
		<!--=        Banner         =-->
		<!--==========================-->
		<section class="home_five_service">
			<div class="vigo_container_one">
				<div class="home_five_single_service">
					<div class="home_five_single_service_inner clearfix">
						<div class="home_five_single_service_right">
							<h3>Pain Relief</h3>
							<p>lorem ipsum dolor set amet konsit</p>
							<a href="#">$172</a>
						</div>
						<div class="home_five_single_service_img">
							<img src="{% static 'media/images/home6/service-one.png' %}" alt="">
						</div>
					</div>
				</div>
				<div class="home_five_single_service">
					<div class="home_five_single_service_inner clearfix">
						<img src="{% static 'media/images/home6/service-two.png' %}" alt="!!">
					</div>
				</div>
				<div class="home_five_single_service">
					<div class="home_five_single_service_inner clearfix">
						<div class="home_five_single_service_img">
							<img src="{% static 'media/images/home6/service-three.png' %}" alt="">
						</div>
						<div class="home_five_single_service_right">
							<h3>Amazing Offer</h3>
							<p>lorem ipsum dolor set amet konsit</p>
							<a href="#">order</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--==========================-->
		<!--=        Banner         =-->
		<!--==========================-->
	
		<!--==========================-->
		<!--=        Offer         =-->
		<!--==========================-->
		<section class="home5_offer">
			<div class="vigo_container_two">
				<div class="home5_offer_detail">
					<div class="home5_offer_detail_bg">
						<img src="{% static 'media/images/home6/offer-bg.png' %}" alt="">
					</div>
					<div class="home5_offer_inner">
						<div class="home5_offer_left">
							<img src="{% static 'media/images/home6/offer-left.png' %}" alt="">
						</div>
						<div class="home5_offer_center">
							<h2>ONETIME OFFER &#60; </h2>
							<p>We have limited time offerings for our special suppliment that goes with a special offer. Grab now!</p>
							<a href="#" class="btn_three">I’M IN</a>
						</div>
						<div class="home5_offer_right">
							<span>$12</span>
							<img src="{% static 'media/images/home6/offer-right.png' %}" alt="">
						</div>
					</div>
					<div class="home5_offer_social">
						<span>Share Us-</span>
						<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
						<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
						<a href="#">
					<i class="fab fa-medium-m"></i>
				</a>
						<a href="#">
					<i class="fab fa-tumblr"></i>
				</a>
					</div>
				</div>
			</div>
		</section>

		<!--==========================-->
		<!--=        Feature         =-->
		<!--==========================-->
		<section class="home5_recent home5_feature">
    <div class="vigo_container_one">
        <div class="section_title_four">
            <h2>FEATURE</h2>
        </div>
        <div class="home5_recent_slider owl-carousel">

            {% for product in products %}
            <div class="home5_recent_slide">

                {% if product.fitfusionai_product_discount > 0 %}
                <div class="off">
                    -{{ product.fitfusionai_product_discount }}%
                </div>
                {% endif %}

                <div class="home5_recent_thumb">
                    <img src="{{ product.fitfusionai_product_image1.url }}" alt="{{ product.fitfusionai_product_name }}">
                    <span>${{ product.fitfusionai_product_current_price }}</span>
                </div>

                <div class="home5_recent_appreciate">
                    {% for i in "12345" %}
                        <a href="#"><i class="far fa-star"></i></a>
                    {% endfor %}
                </div>

                <div class="home5_recent_title">
                    <h3>
                        <a href="{% url 'product_detail' product.fitfusionai_product_id %}">
                            {{ product.fitfusionai_product_name }}
                        </a>
                    </h3>
                </div>

            <div class="home5_recent_view_cart clearfix">
				<a href="{% url 'product_detail' product.fitfusionai_product_id %}">
					<i class="fas fa-expand"></i> QUICK VIEW
				</a>
				<a href="{% url 'product_detail' product.fitfusionai_product_id %}">
					<i class="fas fa-shopping-cart"></i> ADD TO CART
				</a>
			</div>

            </div>
            {% endfor %}

        </div>
    </div>
</section>

		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="subscription-area">
            <div class="vigo_container_two">
                <div class="section_title_four">
                    <h2>Choose Your Subscription</h2>
                </div>
        
                <div class="subscription-wrapper">
                    <!-- Gold Subscription -->
                    <div class="subscription-card gold">
                        <div class="subscription-header">
                            <h3>Gold Subscription</h3>
                            <span class="price">$99 / Month</span>
                        </div>
                        <div class="subscription-body">
                            <ul>
                                <li>Access to all features</li>
                                <li>Personalized support</li>
                                <li>Premium content access</li>
                            </ul>
                        </div>
                        <div class="subscription-footer">
                            <a href="#" class="btn subscribe-btn">Subscribe Now</a>
                        </div>
                    </div>
        
                    <!-- Silver Subscription -->
                    <div class="subscription-card silver">
                        <div class="subscription-header">
                            <h3>Silver Subscription</h3>
                            <span class="price">$49 / Month</span>
                        </div>
                        <div class="subscription-body">
                            <ul>
                                <li>Access to basic features</li>
                                <li>Email support</li>
                                <li>Standard content access</li>
                            </ul>
                        </div>
                        <div class="subscription-footer">
                            <a href="#" class="btn subscribe-btn">Subscribe Now</a>
                        </div>
                    </div>
        
                    <!-- Platinum Subscription -->
                    <div class="subscription-card platinum">
                        <div class="subscription-header">
                            <h3>Platinum Subscription</h3>
                            <span class="price">$199 / Month</span>
                        </div>
                        <div class="subscription-body">
                            <ul>
                                <li>Access to all premium features</li>
                                <li>24/7 VIP support</li>
                                <li>Exclusive content access</li>
                            </ul>
                        </div>
                        <div class="subscription-footer">
                            <a href="#" class="btn subscribe-btn">Subscribe Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="home5_pricing">
			<div class="vigo_container_two">
				<div class="row">
					<div class="col-xl-4 col-md-6">
						<div class="home5_pricing_single">
							<h3>FREE</h3>
							<span>SHIPPING POLICY</span>
							<i class="fas fa-ship"></i>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="home5_pricing_single">
							<h3>14 DAYS</h3>
							<span>MONEYBACK GURANTEED</span>
							<i class="fab fa-android"></i>
						</div>
					</div>
					<div class="col-xl-4 col-md-6">
						<div class="home5_pricing_single">
							<h3>CALL</h3>
							<span>SUPPORT INCLUDED</span>
							<i class="fas fa-headphones"></i>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="home5-most-sold" data-bg-image="{% static 'media/images/home6/most-sold.jpg' %}">
    <div class="vigo_container_one">
        <div class="section_title_four">
            <h2>MOST SOLD</h2>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-xl-2 col-sm-6 col-lg-3">
                <div class="sn_related_product">
                    <div class="sn_pd_img">
                        <a href="{% url 'product_detail' product.fitfusionai_product_id %}">
                            <img src="{{ product.fitfusionai_product_image1.url }}" alt="{{ product.fitfusionai_product_name }}">
                        </a>
                    </div>
                    <div class="sn_pd_rating">
                        {% for _ in "12345" %}
                        <a href="#"><i class="far fa-star"></i></a>
                        {% endfor %}
                    </div>
                    <div class="sn_pd_detail">
                        <h5>
                            <a href="{% url 'product_detail' product.fitfusionai_product_id %}">
                                {{ product.fitfusionai_product_name }}
                            </a>
                        </h5>
                        <ins><span>${{ product.fitfusionai_product_current_price }}</span></ins>
                        {% if product.fitfusionai_product_discount > 0 %}
                        <del><span>${{ product.fitfusionai_product_actual_price }}</span></del>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


		<!--==========================-->
		<!--=        Video         =-->
		<!--==========================-->
		<section class="call_to_action_green">
			<div class="vigo_container_two">
				<div class="call_to_action_area_two">
					<div class="row">
						<div class="col-xl-10 offset-xl-2">
							<div class="call_to_action_hello">
								<div class="call_to_action_left_two">
									<h2>LIVE HEALTHY?</h2>
									<p>Try out our suppliment & enjoy the healthiest life. Discounts end soon!</p>
								</div>
								<div class="call_to_action_right_two">
									<a href="#" class="btn_four">Purchase</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			


{% endblock %}

	